langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-openrouter
langchain-groq
langchain-openai
chromadb
sentence-transformers
pypdf
python-pptx
python-dotenv
pydantic
fastapi
uvicorn[standard]
python-multipart
httpx
SQLAlchemy==2.0.51
sqlalchemy-cockroachdb==2.0.4
psycopg[binary]==3.3.4
alembic==1.18.5
